h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    text-align: center;
}

form {
    text-align: center;
    padding: 10px;
}

.image {
    width: 300px;
    border: solid gray 2px;
    padding: 5px;
}

div {
    display: inline-block;
    vertical-align: middle;
}

body {
    background-color: lightblue;
}